<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Рубль стал лучшей валютой в мире</title>
</head>
<body>
<p>Основным фактором, повлиявшим на рост и укрепление российской валюты, стало заключенное в Минске соглашение по
    Украине, отодвинувшее на второй план цены на нефть, ранее определяющие курс валюты, пишет американское
    агентство Bloomberg.</p>
<p>Растущий курс рубля опровергнул прогнозы большинства западных аналитиков, которые не учли главный фактор усиления
    российской валюты — перемирие на Украине, сообщает Bloomberg.</p>
<p>"За первые три месяца 2015 года российская валюта по своим показателям перешла из разряда худшей в мире в категорию
    лучшей, опровергнув прогнозы даже самых точных в своих предсказаниях аналитиков", — пишет агентство.</p>
</body>
</html>